# Warum ist es wichtig Elon Musk Tweets zu generieren?
Elon Musk ist seit 2020 der reichste Mann der Welt. Zusätzlich ist er eine der einflussreichsten Personen auf der Plattform und baut diesen Einfluss damit aus, dass der seit 2022 der größte Anteilseigner der Plattform ist. Beim Theman Unternehmensanteile, Elon Musk und Twitter wird es auch abseits von Elon Musks persönlicher Finanzlage interessant. Musk ist bekannt dafür, in den letzten Jahren mit seinen Tweets Aktienkurse beeinflusst zu haben. Er hat beispielsweise 2002....
Wer finanzielle Interessen hat, könnte sich davon ausgehen damit beschäftigen, ein System zu entwickeln, das anhand von Elon Musks Meinung Aktien und Optionen kauft.
Wer finanzielle Interessen hat, sollte sich aber vielleicht auch nicht mit Elon Musks Tweets beschäftigen und denken, dass er anhand dessen der nächste Warren Buffet wird, sondern richtig arbeiten. Viel interessanter wäre es doch eigene Tweets zu generieren.

In [1]:
import numpy as np
import pandas as pd
from tensorflow import keras
from sklearn.model_selection import train_test_split
import os
import torch

In [2]:
tweets_from_years = {}

In [3]:
for i in os.listdir('musktweets'):
    year = i.rstrip('.csv')
    print(i)
    if i == '2021.csv' or i == '2022.csv':
        tweets_from_years[year] = pd.read_csv('musktweets/'+i)
    else:
        tweets_from_years[year] = pd.read_csv('musktweets/'+i, index_col='index')

2010.csv
2011.csv
2012.csv
2013.csv
2014.csv
2015.csv
2016.csv
2017.csv
2018.csv
2019.csv
2020.csv
2021.csv
2022.csv

In [4]:
sorted(tweets_from_years['2020'].columns)

['cashtags',
 'conversation_id',
 'created_at',
 'date',
 'day',
 'geo',
 'hashtags',
 'hour',
 'id',
 'language',
 'link',
 'name',
 'near',
 'nlikes',
 'nreplies',
 'nretweets',
 'photos',
 'place',
 'quote_url',
 'reply_to',
 'retweet',
 'retweet_date',
 'retweet_id',
 'search',
 'source',
 'thumbnail',
 'timezone',
 'trans_dest',
 'trans_src',
 'translate',
 'tweet',
 'urls',
 'user_id',
 'user_id_str',
 'user_rt',
 'user_rt_id',
 'username',
 'video']

In [5]:
sorted(tweets_from_years['2022'].columns)

['cashtags',
 'conversation_id',
 'created_at',
 'date',
 'geo',
 'hashtags',
 'id',
 'language',
 'likes_count',
 'link',
 'mentions',
 'name',
 'near',
 'photos',
 'place',
 'quote_url',
 'replies_count',
 'reply_to',
 'retweet',
 'retweet_date',
 'retweet_id',
 'retweets_count',
 'source',
 'thumbnail',
 'time',
 'timezone',
 'trans_dest',
 'trans_src',
 'translate',
 'tweet',
 'urls',
 'user_id',
 'user_rt',
 'user_rt_id',
 'username',
 'video']

In [6]:
for year in tweets_from_years:
    if year == '2022' or year == '2021' or year == '2020':
        tweets_from_years[year].rename(columns={'likes_count':'nlikes'}, inplace=True)
        print(tweets_from_years[year].columns)

Index(['id', 'conversation_id', 'created_at', 'date', 'timezone', 'place',
       'tweet', 'language', 'hashtags', 'cashtags', 'user_id', 'user_id_str',
       'username', 'name', 'day', 'hour', 'link', 'urls', 'photos', 'video',
       'thumbnail', 'retweet', 'nlikes', 'nreplies', 'nretweets', 'quote_url',
       'search', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')
Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'language', 'mentions',
       'urls', 'photos', 'replies_count', 'retweets_count', 'nlikes',
       'hashtags', 'cashtags', 'link', 'retweet', 'quote_url', 'video',
       'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')
Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'language', 'mentions',
       'urls', 'photos', 'replies_count', 'retweets_count', 'nlikes',
       'hashtags', 'cashtags', 'link', 'retweet', 'quote_url', 'video',
       'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')

In [7]:
tweets_from_years['2021']

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1476662222617251846,1476620230692679680,2021-12-31 01:11:23 Arabian Standard Time,2021-12-31,01:11:23,400,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'roshanpateI', 'name': 'Rosha...",NaN,NaN,NaN,NaN
1,1476656306610216960,1476644467578859528,2021-12-31 00:47:53 Arabian Standard Time,2021-12-31,00:47:53,400,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'tesla_raj', 'name': 'Tesla R...",NaN,NaN,NaN,NaN
2,1476651519986614281,1476252898115964928,2021-12-31 00:28:51 Arabian Standard Time,2021-12-31,00:28:51,400,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'CSmithson80', 'name': 'Chris...",NaN,NaN,NaN,NaN
3,1476619907076923398,1476252898115964928,2021-12-30 22:23:14 Arabian Standard Time,2021-12-30,22:23:14,400,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'BLKMDL3', 'name': 'Zack', 'i...",NaN,NaN,NaN,NaN
4,1476618021024190474,1476252898115964928,2021-12-30 22:15:45 Arabian Standard Time,2021-12-30,22:15:45,400,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'mims', 'name': 'Christopher ...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3110,1345384139969552389,1345382294966571008,2021-01-02 18:59:09 Arabian Standard Time,2021-01-02,18:59:09,400,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'flcnhvy', 'name': 'Viv ✶', '...",NaN,NaN,NaN,NaN
3111,1345382294966571008,1345382294966571008,2021-01-02 18:51:49 Arabian Standard Time,2021-01-02,18:51:49,400,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3112,1345344958710992897,1345334831719337984,2021-01-02 16:23:28 Arabian Standard Time,2021-01-02,16:23:28,400,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'newscientist', 'name': 'New ...",NaN,NaN,NaN,NaN
3113,1345208391958888448,1344675033231237120,2021-01-02 07:20:48 Arabian Standard Time,2021-01-02,07:20:48,400,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'comma_ai', 'name': 'comma', ...",NaN,NaN,NaN,NaN
3114,1344810193952014336,1344518758707113986,2021-01-01 04:58:30 Arabian Standard Time,2021-01-01,04:58:30,400,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'PPathole', 'name': 'Pranay P...",NaN,NaN,NaN,NaN

In [8]:
for year in tweets_from_years:
    print(year)
    tweets_from_years[year] = tweets_from_years[year][['nlikes','date', 'link','photos','reply_to','retweet','source','tweet','video']]

2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022

In [9]:
tweets_from_all_years = pd.concat([tweets_from_years[year] for year in tweets_from_years.keys()])
tweets_from_all_years = tweets_from_all_years.reset_index()

In [10]:
tweets_from_all_years = tweets_from_all_years[(tweets_from_all_years['reply_to']=='[]') & (tweets_from_all_years['retweet']==False)]

In [11]:
tweets_from_all_years

,index,nlikes,date,link,photos,reply_to,retweet,source,tweet,video
0,0,4652,2010-06-04 18:31:57,https://twitter.com/elonmusk/status/15434727182,[],[],False,NaN,"Please ignore prior tweets, as that was someon...",0
1,0,12,2011-12-28 22:27:08,https://twitter.com/elonmusk/status/1521536376...,[],[],False,NaN,@TheOnion So true :),0
2,1,39,2011-12-27 23:38:55,https://twitter.com/elonmusk/status/1518093150...,[],[],False,NaN,If you ever wanted to know the *real* truth ab...,0
3,2,155,2011-12-26 16:29:50,https://twitter.com/elonmusk/status/1513389393...,['https://pbs.twimg.com/media/Ahmp9qtCAAAYPDX....,[],False,NaN,Walked around a neighborhood recently rebuilt ...,1
4,3,158,2011-12-26 16:23:04,https://twitter.com/elonmusk/status/1513372374...,['https://pbs.twimg.com/media/AhmoamaCQAANvSt....,[],False,NaN,"It was Xmas, so we brought presents for the ki...",1
...,...,...,...,...,...,...,...,...,...,...
34865,1015,412729,2022-01-04,https://twitter.com/elonmusk/status/1478419298...,['https://pbs.twimg.com/media/FIRmg5_VQAAedm3....,[],False,NaN,https://t.co/NH4S2wDizC,1
34869,1019,57660,2022-01-04,https://twitter.com/elonmusk/status/1478125263...,[],[],False,NaN,Raptor 2 now operates routinely at 300 bar mai...,0
34873,1023,473530,2022-01-03,https://twitter.com/elonmusk/status/1477775713...,['https://pbs.twimg.com/media/FIIdLYoXoAEd2j_....,[],False,NaN,https://t.co/LA9hPzVlGx,1
34874,1024,320201,2022-01-02,https://twitter.com/elonmusk/status/1477706142...,[],[],False,NaN,Let’s make the roaring 20’s happen!,0
34875,1025,66405,2022-01-02,https://twitter.com/elonmusk/status/1477700424...,[],[],False,NaN,Great work by Tesla team worldwide!,0

In [12]:
from transformers import pipeline
gen = pipeline('text-generation', model='gpt2')

Downloading:   0%|          | 0.00/665 [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/523M [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/0.99M [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/446k [00:00<?, ?B/s]

Downloading:   0%|          | 0.00/1.29M [00:00<?, ?B/s]

In [48]:
from transformers import AutoTokenizer, AutoModelForCausalLM

BOS_TOKEN = "<|elontext|>"
EOS_TOKEN = "<|endoftext|>"
PAD_TOKEN = "<|pad|>"
MAX_TOKENS = 512

tokenizer = AutoTokenizer.from_pretrained("gpt2",
    bos_token=BOS_TOKEN,
    eos_token=EOS_TOKEN,
    pad_token=PAD_TOKEN,
    max_length=MAX_TOKENS,
    is_split_into_words=True,
)

model = AutoModelForCausalLM.from_pretrained("gpt2")

Special tokens have been added in the vocabulary, make sure the associated word embeddings are fine-tuned or trained.

In [49]:
some_tweets = tweets_from_all_years.sample(n=10, random_state=30)
some_tokens = []
encoded = tokenizer(some_tweets['tweet'].to_list()[0], padding=True, max_length=MAX_TOKENS, pad_to_max_length=True,)
decoded = tokenizer.decode(encoded['input_ids'])
print(encoded)
print (decoded)
#for i in some_tweets['tweet']:
    #some_tokens.append(' '.join(i.split(' ')[:5]))

{'input_ids': [10248, 10638, 286, 10701, 9581, 2106, 13, 1318, 547, 734, 4388, 1660, 1956, 654, 881, 2961, 11, 475, 484, 1422, 470, 7866, 890, 13, 220, 3740, 1378, 83, 13, 1073, 14, 45, 21, 74, 5324, 48, 68, 37, 1525], 'attention_mask': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}
Good summary of rocket landing history. There were two successful water landings much earlier, but they didn't survive long.  https://t.co/N6kxxQeFby

In [15]:
some_tokens

['Good summary of rocket landing',
 'Thanks George!',
 'Looks like sooner than expected.',
 '@patrickdorey81 Model S starts at',
 'And so the robots spared',
 'After 50k hats, we will',
 'We need to do one',
 '@arenpageler Storm Watch was active',
 'Excited to have Larry Ellison',
 'Desire to help Boeing is']

In [16]:
for token in some_tokens:
    print(gen(token, max_length=50, num_return_sequences=1))

Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

[{'generated_text': "Good summary of rocket landing.\n\nThis one, from the NIMBY:\n\nAnd here's a story from The Washington Post to celebrate the fact that there was no landing:\n\nThe NIMBY's Michael Ledeen describes his"}]

Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

[{'generated_text': "Thanks George! And please pray for us. All of our friends are here today to show their strength. All of George's friends and family has also been there to support our cause so it is great to see George here and pray we can continue to"}]
[{'generated_text': 'Looks like sooner than expected.'}]

Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

[{'generated_text': '@patrickdorey81 Model S starts at $50,000, goes up at $65,000 but for some reason not enough people want to spend the money for the next model they are buying\n\nSo who are the people that you'}]

Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

[{'generated_text': 'And so the robots spared the robots the chance to kill each other, and that is what they did.'}]

Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

[{'generated_text': 'After 50k hats, we will get 15,000 to 15,000 donations. We hope to be able to finish it by 2020. I will always remember your beautiful past.\n\nWe know that the best of the people will support us on'}]

Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

[{'generated_text': 'We need to do one of two things. We can take this and use it as a way to take action on crime. If things are going to get worse and we need you to go forward and fight, then you ought to take the action you'}]

Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

[{'generated_text': "@arenpageler Storm Watch was active for a long time and when you've been on this team you know things are going to be a lot different from last year. It was really cool how much the team cared about the fans and the"}]

Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

[{'generated_text': 'Excited to have Larry Ellison as our Chairman? His role in our process of appointing an independent federal law clerk would be especially important as the first of many changes that are needed to ensure that Congress is not beholden to special interests and not beholden'}]
[{'generated_text': "Desire to help Boeing is the result of a partnership between the Boeing Co. Group, the company that develops the C-Series jet, and the U.S. Department of Defense's Aviation Safety and Health Program. The Air Force's program supports"}]