# Warum ist es wichtig Elon Musk Tweets zu generieren?
Elon Musk ist seit 2020 der reichste Mann der Welt. Zusätzlich ist er eine der einflussreichsten Personen auf der Plattform und baut diesen Einfluss damit aus, dass der seit 2022 der größte Anteilseigner der Plattform ist. Beim Theman Unternehmensanteile, Elon Musk und Twitter wird es auch abseits von Elon Musks persönlicher Finanzlage interessant. Musk ist bekannt dafür, in den letzten Jahren mit seinen Tweets Aktienkurse beeinflusst zu haben. Er hat beispielsweise 2002....
Wer finanzielle Interessen hat, könnte sich davon ausgehen damit beschäftigen, ein System zu entwickeln, das anhand von Elon Musks Meinung Aktien und Optionen kauft.
Wer finanzielle Interessen hat, sollte sich aber vielleicht auch nicht mit Elon Musks Tweets beschäftigen und denken, dass er anhand dessen der nächste Warren Buffet wird, sondern richtig arbeiten. Viel interessanter wäre es doch eigene Tweets zu generieren.

In [1]:
import numpy as np
import pandas as pd
from tensorflow import keras
from sklearn.model_selection import train_test_split
import os
import torch

In [2]:
tweets_from_years = {}

In [3]:
for i in os.listdir('musktweets'):
    year = i.rstrip('.csv')
    print(i)
    if i == '2021.csv' or i == '2022.csv':
        tweets_from_years[year] = pd.read_csv('musktweets/'+i)
    else:
        tweets_from_years[year] = pd.read_csv('musktweets/'+i, index_col='index')

2020.csv
2021.csv
2022.csv
2019.csv
2018.csv
2015.csv
2014.csv
2016.csv
2017.csv
2013.csv
2012.csv
2010.csv
2011.csv

In [4]:
sorted(tweets_from_years['2020'].columns)

['cashtags',
 'conversation_id',
 'created_at',
 'date',
 'day',
 'geo',
 'hashtags',
 'hour',
 'id',
 'language',
 'link',
 'name',
 'near',
 'nlikes',
 'nreplies',
 'nretweets',
 'photos',
 'place',
 'quote_url',
 'reply_to',
 'retweet',
 'retweet_date',
 'retweet_id',
 'search',
 'source',
 'thumbnail',
 'timezone',
 'trans_dest',
 'trans_src',
 'translate',
 'tweet',
 'urls',
 'user_id',
 'user_id_str',
 'user_rt',
 'user_rt_id',
 'username',
 'video']

In [5]:
sorted(tweets_from_years['2022'].columns)

['cashtags',
 'conversation_id',
 'created_at',
 'date',
 'geo',
 'hashtags',
 'id',
 'language',
 'likes_count',
 'link',
 'mentions',
 'name',
 'near',
 'photos',
 'place',
 'quote_url',
 'replies_count',
 'reply_to',
 'retweet',
 'retweet_date',
 'retweet_id',
 'retweets_count',
 'source',
 'thumbnail',
 'time',
 'timezone',
 'trans_dest',
 'trans_src',
 'translate',
 'tweet',
 'urls',
 'user_id',
 'user_rt',
 'user_rt_id',
 'username',
 'video']

In [6]:
for year in tweets_from_years:
    if year == '2022' or year == '2021' or year == '2020':
        tweets_from_years[year].rename(columns={'likes_count':'nlikes'}, inplace=True)
        print(tweets_from_years[year].columns)

Index(['id', 'conversation_id', 'created_at', 'date', 'timezone', 'place',
       'tweet', 'language', 'hashtags', 'cashtags', 'user_id', 'user_id_str',
       'username', 'name', 'day', 'hour', 'link', 'urls', 'photos', 'video',
       'thumbnail', 'retweet', 'nlikes', 'nreplies', 'nretweets', 'quote_url',
       'search', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')
Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'language', 'mentions',
       'urls', 'photos', 'replies_count', 'retweets_count', 'nlikes',
       'hashtags', 'cashtags', 'link', 'retweet', 'quote_url', 'video',
       'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')
Index(['id', 'conversation_id', 'created_at', 'date', 'time', 'timezone',
       'user_id', 'username', 'name', 'place', 'tweet', 'language', 'mentions',
       'urls', 'photos', 'replies_count', 'retweets_count', 'nlikes',
       'hashtags', 'cashtags', 'link', 'retweet', 'quote_url', 'video',
       'thumbnail', 'near', 'geo', 'source', 'user_rt_id', 'user_rt',
       'retweet_id', 'reply_to', 'retweet_date', 'translate', 'trans_src',
       'trans_dest'],
      dtype='object')

In [7]:
tweets_from_years['2021']

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1476662222617251846,1476620230692679680,2021-12-31 01:11:23 Arabian Standard Time,2021-12-31,01:11:23,400,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'roshanpateI', 'name': 'Rosha...",NaN,NaN,NaN,NaN
1,1476656306610216960,1476644467578859528,2021-12-31 00:47:53 Arabian Standard Time,2021-12-31,00:47:53,400,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'tesla_raj', 'name': 'Tesla R...",NaN,NaN,NaN,NaN
2,1476651519986614281,1476252898115964928,2021-12-31 00:28:51 Arabian Standard Time,2021-12-31,00:28:51,400,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'CSmithson80', 'name': 'Chris...",NaN,NaN,NaN,NaN
3,1476619907076923398,1476252898115964928,2021-12-30 22:23:14 Arabian Standard Time,2021-12-30,22:23:14,400,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'BLKMDL3', 'name': 'Zack', 'i...",NaN,NaN,NaN,NaN
4,1476618021024190474,1476252898115964928,2021-12-30 22:15:45 Arabian Standard Time,2021-12-30,22:15:45,400,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'mims', 'name': 'Christopher ...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3110,1345384139969552389,1345382294966571008,2021-01-02 18:59:09 Arabian Standard Time,2021-01-02,18:59:09,400,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'flcnhvy', 'name': 'Viv ✶', '...",NaN,NaN,NaN,NaN
3111,1345382294966571008,1345382294966571008,2021-01-02 18:51:49 Arabian Standard Time,2021-01-02,18:51:49,400,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3112,1345344958710992897,1345334831719337984,2021-01-02 16:23:28 Arabian Standard Time,2021-01-02,16:23:28,400,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'newscientist', 'name': 'New ...",NaN,NaN,NaN,NaN
3113,1345208391958888448,1344675033231237120,2021-01-02 07:20:48 Arabian Standard Time,2021-01-02,07:20:48,400,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'comma_ai', 'name': 'comma', ...",NaN,NaN,NaN,NaN
3114,1344810193952014336,1344518758707113986,2021-01-01 04:58:30 Arabian Standard Time,2021-01-01,04:58:30,400,44196397,elonmusk,Elon Musk,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'PPathole', 'name': 'Pranay P...",NaN,NaN,NaN,NaN

In [8]:
for year in tweets_from_years:
    print(year)
    tweets_from_years[year] = tweets_from_years[year][['nlikes','date', 'link','photos','reply_to','retweet','source','tweet','video']]

2020
2021
2022
2019
2018
2015
2014
2016
2017
2013
2012
2010
2011

In [9]:
tweets_from_all_years = pd.concat([tweets_from_years[year] for year in tweets_from_years.keys()])
tweets_from_all_years = tweets_from_all_years.reset_index()

In [16]:
tweets_from_all_years = tweets_from_all_years[(tweets_from_all_years['reply_to']=='[]') & (tweets_from_all_years['retweet']==False)]

In [17]:
tweets_from_all_years

,index,nlikes,date,link,photos,reply_to,retweet,source,tweet,video
0,0,55085,2020-12-28 19:46:18,https://twitter.com/elonmusk/status/1343644462...,[],[],False,NaN,Entertainment will be critical when cars drive...,0
3,3,33830,2020-12-28 17:23:31,https://twitter.com/elonmusk/status/1343608530...,[],[],False,NaN,What should Tesla do with in-car gaming in an ...,0
6,6,148037,2020-12-27 22:18:58,https://twitter.com/elonmusk/status/1343320495...,[],[],False,NaN,Try playing Polytopia in your Tesla! Great gam...,0
34,34,187368,2020-12-25 20:54:29,https://twitter.com/elonmusk/status/1342574459...,[],[],False,NaN,"Change your horn sound to 🐐, 🐍🎷, 💨 or holiday ...",0
35,35,236833,2020-12-25 16:47:04,https://twitter.com/elonmusk/status/1342512194...,['https://pbs.twimg.com/media/EqGPuYCUwAIb7_U....,[],False,NaN,Merry Christmas &amp; happy holidays! 🎁 https...,1
...,...,...,...,...,...,...,...,...,...,...
34873,22,53,2011-12-03 08:22:07,https://twitter.com/elonmusk/status/1428812840...,[],[],False,NaN,That was a total non sequitur btw,0
34874,23,29,2011-12-03 08:20:28,https://twitter.com/elonmusk/status/1428808713...,[],[],False,NaN,"Great Voltaire quote, arguably better than Twa...",0
34875,24,78,2011-12-01 10:29:04,https://twitter.com/elonmusk/status/1421884581...,[],[],False,NaN,I made the volume on the Model S http://t.co/...,0
34876,25,189,2011-12-01 09:55:11,https://twitter.com/elonmusk/status/1421799282...,['https://pbs.twimg.com/media/Afkf5DMCAAEJGFr....,[],False,NaN,Went to Iceland on Sat to ride bumper cars on ...,1
34877,26,4652,2010-06-04 18:31:57,https://twitter.com/elonmusk/status/15434727182,[],[],False,NaN,"Please ignore prior tweets, as that was someon...",0

In [15]:
from transformers import pipeline
gen = pipeline('text-generation', model='gpt2')

2022-05-16 22:49:32.863386: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [12]:
from transformers import AutoTokenizer, AutoModelForCausalLM

tokenizer = AutoTokenizer.from_pretrained("gpt2")

model = AutoModelForCausalLM.from_pretrained("gpt2")

Downloading:   0%|          | 0.00/523M [00:00<?, ?B/s]

In [18]:
some_tweets = tweets_from_all_years.sample(n=10, random_state=30)
some_tokens = []
for i in some_tweets['tweet']:
    some_tokens.append(' '.join(i.split(' ')[:5]))

In [19]:
some_tokens

['3 mins to liftoff',
 "Congratulations to @OrbitalSciences! “@CNETNews: Orbital's",
 'Noodles in Shinjuku  http://t.co/MWztTqByuA',
 'Starlink has been told by',
 'Drone spaceport ship heads to',
 'Excited about the Tesla Autopilot',
 'Rocket engines are healthy, but',
 'Preparing to launch a Thaicom',
 "Can't make this stuff up:",
 'First will rewatch Godfather Part']

In [21]:
for token in some_tokens:
    print(gen(token, max_length=50, num_return_sequences=1))

Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

[{'generated_text': '3 mins to liftoff\n\n5 min to burn 5 min to burn 5 min to burn\n\n1 hr to burn 1 hr to burn 1 hr to burn\n\n1 hr and 10 sec to burn 1 hr and 10 sec to burn'}]

Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

[{'generated_text': 'Congratulations to @OrbitalSciences! “@CNETNews: Orbital\'s research team had a blast! Their results are important."\n\nThe team demonstrated three key stages of the process of liquid-cooling that can help a'}]

Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

[{'generated_text': 'Noodles in Shinjuku  http://t.co/MWztTqByuA — R.T.O.\n\n"I had to go after some kind of drug addict," says "Jinny", an'}]

Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

[{'generated_text': 'Starlink has been told by a leading political scientist who supports Corbyn\'s candidacy that Corbyn "remains the only candidate who has got in the way of doing business in this country and is the clear winner of the general election." [12]\n'}]

Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

[{'generated_text': "Drone spaceport ship heads to safety in the ocean to rescue a survivor from a sunken vessel, along with several other survivors of Hurricane Florence.\n\nThey work by dropping small pieces of the ship's hull and pushing them up a ramp into"}]

Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

[{'generated_text': 'Excited about the Tesla Autopilot upgrade, I was excited to try it out and the experience was pretty interesting. When I installed it, I only received a message from my battery. The Autopilot was an amazing system that took the place'}]

Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

[{'generated_text': "Rocket engines are healthy, but the main problem is that they are extremely brittle. They tend to rust and tear up in the hottest moment. That's why they're used for testing purposes, and to determine whether an engine can withstand a full range of"}]

Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

[{'generated_text': 'Preparing to launch a Thaicom T300 drone requires us to spend more time with our pilots, rather than sitting through three hours of actual video, than spending time with the drone itself.\n\nOur ability to communicate with our pilots on the'}]

Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

[{'generated_text': "Can't make this stuff up: That's what I said at this blog. But I do believe that by this time after you have done all this stuff that you'll be able to move on and continue to work on that. And I'm happy"}]
[{'generated_text': "First will rewatch Godfather Part II - the first time I'm aware of having watched a movie so full of emotional emotion. Yes - it's such a wonderful thing that I have to watch more movies like the one the film made, not only"}]